/* Estilos para el menú */
.header-menu {
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.menu-item {
    list-style: none;
    font-size: medium;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.menu-item img {
    width: 50px;
    height: auto;
    border-radius: 90px 90px 90px 90px;
}